# Configurações locais da IDE (PyCharm)
.idea/

# Ambiente Virtual do Python
venv/
.venv/
env/
ENV/

# Bytecodes e Caches do Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição e Build (se houver)
build/
dist/
*.egg-info/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Dados Pessoais Sensíveis e Assinaturas
**/assinatura.png
assinatura.png

# Credenciais e Tokens do Google Drive
credentials.json
token.json

# Backups gerados
**/backup*/